<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://finaldraft.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>finaldraft.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinalDraft</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FinalDraft</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLAzureConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:nsf94vmryj.database.windows.net,1433;Initial Catalog=helloworld-Cj-Database;Integrated Security=False;User ID=dbdevuser@nsf94vmryj;Password=!314970o;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLAzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="&#xD;&#xA;         Data Source=tcp:nsf94vmryj.database.windows.net,1433;&#xD;&#xA;         Initial Catalog=helloworld-Cj-Database;   &#xD;&#xA;         User ID=dbdevuser@nsf94vmryj; &#xD;&#xA;         Password=!314970o;     &#xD;&#xA;         Encrypt=true;      &#xD;&#xA;         Trusted_Connection=false;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLAzureConnection-Web.config Connection String" />
  </ItemGroup>
</Project>